<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.calendarioestudiante">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".menu" />
        <activity android:name=".menu_profesor" />

        <activity
            android:name=".cursosEstudiante"
            android:label="@string/cursos" />
        <activity android:name=".cursosDisponibles"
            android:label="@string/cursosDisponibles"></activity>

        <activity
            android:name=".cursosProfesor"
            android:label="@string/cursosActivity">

        </activity>
        <activity android:name=".acercaApp"></activity>

        <activity android:name=".ejercicios"
            android:label="@string/Ejercicios"></activity>

        <activity android:name=".visualizarEjercicios"></activity>

        <activity android:name=".temas"
            android:label="@string/temas"></activity>

        <activity android:name=".notificaciones"
            android:label="Notificaciones"></activity>


        <receiver android:name=".broadcastReceiver" />

    </application>

</manifest>